@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .main-header .logo {
    font-family: 'Nunito Sans', sans-serif;
}

.shiny-notification{
    position: fixed;
    top: 33%;
    left: 33%;
    right: 33%;
    opacity: 1;
}

#shiny-notification-panel .progress-bar{
    background-color: #f38f12;
}

.upload_side {
    width: 30%;
}

.upload_main {
    width: 70%;
}

.upload_main .shiny-input-container:not(.shiny-input-container-inline) {
    width: 250px;
}

.progressStep li {
    list-style: none;
}

.secondaryHeaders{
    color: #3c8dbc;
}

#completedIcon img {
    width: 10%;
}

#typeInput {
    width: 100%;
}

#domainInput {
    width: 100%;
}

.checksListTopic{
    color: grey;
}

.checksListContent {
    margin-left: 5%;
    margin-top: -3%;
}

.checksListContent h4{
    color: orange;
}

.readyButton .btn{
    background-color: transparent;
}

.activeButton .btn{
    background-color: orange;
}

.completedButton .btn{
    background-color: green;
    color: white
}

.modal-dialog {
    width: 90%;
    text-align: center;
}

.modal-content img{
    width: 60%;
}

.modal-header {
    color: orange;
}

.navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu{
    width: 1000px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu, .navbar-nav>.notifications-menu>.dropdown-menu>li .menu, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu{
    max-height: 500px;
}

#messageMenu{
    background-color: #3c8dbc;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        background-color: #3c8dbc;
    }
    50% {
        background-color: #f39c12;
    }
    100% {
    background-color: #222;
    }
}

.dropdown-menu{
    /** background-color: #222d32; **/
    box-shadow: aqua;
    border-color: #3c8dbc;
}

.subSpan{
    margin-left: 5%;
}


.shiny-input-container:not(.shiny-input-container-inline){
    width: auto;
}

.upload_side .help-block {
    display: contents;
}

.darwinControlDiv{
    padding-left: 2%;
}
.darwinControlInner{
    padding-left: 1%;
}