@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .main-header .logo {
    font-family: 'Nunito Sans', sans-serif;
}

.shiny-notification{
  position: fixed;
  top: 33%;
  left: 33%;
  right: 33%;
  opacity: 1;
}

#shiny-notification-panel .progress-bar{
    background-color: #f38f12;
}

.progressStep li {
    list-style: none;
}

.secondaryHeaders{
    color: #3c8dbc;
}

#flagButton {
    background-color: green;
    color: white;
}

#completedIcon img {
    width: 10%;
}

#typeInput {
    width: 100%;
}

.checksListTopic{
    color: grey;
}

.checksListContent {
        margin-left: 5%;
    margin-top: -3%;
}

.checksListContent h4{
    color: orange;
}

.readyButton .btn{
    background-color: transparent;
}

.activeButton .btn{
    background-color: orange;
}

.completedButton .btn{
    background-color: green;
    color: white
}